In [1]:
x = -4
y = abs(x)
print(x)
print(y)

-4
4

In [2]:
x = 1.2345678987654321000000000000000000000000001
y = round(x,2)
print(x)
print(y)

1.234567898765432
1.23

In [5]:
import math
z = 81
print(math.sqrt(81))

9.0

In [8]:
import math
pi = math.pi
e = math.e
tau = math.tau
x = 81
y = 7
z = -23234.5454
print(pi)
print(e)
print(tau)
print(math.sqrt(x))
print(math.factorial(y))
print(math.floor(z))
print(math.degrees(y))
print(math.radians(45))

3.141592653589793
2.718281828459045
6.283185307179586
9.0
5040
-23235
401.07045659157626
0.7853981633974483

In [9]:
pi = 3.14159265358979
x = 128
y = -345.67890987
z = -999.9999
print(abs(z))
print(int(z))
print(int(abs(z))
print(round(pi,4))
print(bin(x))
print(hex(x))  
print(oct(x))
print(max(pi,x,y,z))    
print(min(pi,x,y,z))
print(type(x))
print(type(pi))
print(type(str(y)))

SyntaxError: invalid syntax (<ipython-input-9-35260fb6c7c0>, line 8)

In [27]:
username = "Alan"
print(f"Hello {username}")

Hello Alan

In [13]:
#Formatting with f-strings
unit_price = 40.00
quantity = 30
print(f"Subtotal:${quantity*unit_price}")

Subtotal:$1200.0

In [15]:
unit_price = 49.00
quantity = 30
print(f"Subtotal:${quantity*unit_price:,.2f}")

Subtotal:$1,470.00

In [16]:
sales_tax_rate = 0.065
print(f"Sales Tax Rate {sales_tax_rate}")
print(f"Sales Tax Rate {sales_tax_rate:.2%}")

Sales Tax Rate 0.065
Sales Tax Rate 6.50%

In [18]:
user1 = "Alberto"
user2 = "Babs"
user3 = "Carlos"
output = f"{user1} \n{user2} \n{user3}"
print(output)

Alberto
Babs
Carlos

In [20]:
unit_price = 49.95
quantity = 32
sales_tax_rate = 0.065
subtotal = quantity*unit_price
sales_tax = sales_tax_rate*subtotal
total = subtotal+sales_tax
output = f"""
Subtotal:    ${subtotal:,.2f}
Sales Tax:   ${sales_tax:,.2f}
Total:       ${total:,.2f}
"""
print(output)

Subtotal:    $1,598.40
Sales Tax:   $103.90
Total:       $1,702.30

In [22]:
#Numerical value
unit_price = 49.95
quantity = 32
sales_tax_rate = 0.065
subtotal = quantity*unit_price
total = subtotal+sales_tax

#Format amounts to show as string with leading dollar sign
s_subtotal = "$" + f"{subtotal:,.2f}"
s_sales_tax = "$" + f"{sales_tax:,.2f}"
s_total = "$" + f"{total:,.2f}"

#Output the string with dollar sign already attached
output=f"""
Subtotal:  {s_subtotal:>9}
Sales Tax: {s_sales_tax:>9}
Subtotal:  {s_total:>9}
"""
print(output)

Subtotal:  $1,598.40
Sales Tax:   $103.90
Subtotal:  $1,702.30

In [23]:
x = 255
#Convert decmal to other nmber systems
print(bin(x))
print(oct(x))
print(hex(x))

#Show number in decimal number system(no conversion required)
print(0b11111111)
print(0o377)
print(0xff)

0b11111111
0o377
0xff
255
255
255

In [25]:
first_name = "Alan"
middle_int = "C"
last_name = "Simpson"
full_name = first_name + " " + middle_int + " " + last_name
print(full_name)

Alan C Simpson

In [26]:
s1 = ""
s2 = " "
s3 = "A B C"
print(len(s1))
print(len(s2))
print(len(s3))

0
1
5

In [28]:
# import the datetime module give it an alias dt.
import datetime as dt
# Put today's date in a variable
today = dt.date.today()
#  put another date in last _of_teens
last_of_teens = dt.date(2019,12,31)

#See what's in each variable.
print(today)
print(last_of_teens)

2019-07-17
2019-12-31

In [6]:
almost_midnight = dt.time(23,59,59,999999)
print(almost_midnight)
print(f"{almost_midnight:%I:%M %p}")
print(f"{almost_midnight:%H:%M:%S and %f microseconds}")

23:59:59.999999
11:59 PM
23:59:59 and 999999 microseconds

In [7]:
import datetime as dt
right_now = dt.datetime.now()
print(right_now)

2019-07-25 12:26:48.166621

In [8]:
import datetime as dt
new_years_day = dt.date(2019,1,1)
duration = dt.timedelta(days=146)
print(new_years_day + duration)

2019-05-27

In [9]:
import datetime as dt
start_time = dt.datetime(2019, 3, 31, 8, 0, 0)
finish_time = dt.datetime(2019, 3, 31, 14, 34, 45)
time_between = finish_time - start_time
print(time_between)
print(type(time_between))

6:34:45
<class 'datetime.timedelta'>

In [10]:
import datetime as dt
now = dt.datetime.now()
birthdatetime = dt.datetime(1995, 3, 31, 8, 26)
age = now - birthdatetime
print(age)
print(type(age))

8882 days, 4:04:30.922580
<class 'datetime.timedelta'>